
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:#FDF8F1;
    color:black;    
    /*#e4dfd9;*/
    border-bottom: #fa4238 solid 1rem;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* General */

h1{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2.4rem;
    letter-spacing: -2px;
}

h2{
    font-size: 3.8rem ;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -1px;   
    margin:  0 0 3.9rem 5.8rem;
}

h3{
    font-size: 2rem ;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -1px;
    margin-bottom: 1.8rem;
}

h4{
    margin-bottom: 2.4rem;
    font-size: 2rem;
    width: 100%;
}

a{
 
    text-decoration: none;   
    color:#333230;
}

/* buttons */
.btn{
    
    font-size: 1.8rem;
    background-color:#fa4238;
    padding: 1.5rem 3.2rem;
    border-radius: 9.4rem;
    color: #000000;
    text-transform:uppercase;    
}

.btn:hover, .btn:active .btn:visited{
    background-color: #fb6860;
}

.nav-btn:hover{
    color:  #fa4238
}

.btn-pricing{
    border-radius: 1rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.5rem;
    margin-left: 2.4rem;
}

/*reusable grid */

.step{
    
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 5.8rem;
    padding: 1rem 4.8rem 1rem 6.9rem;
}

/* navigation bar*/

header{
    
    /*max-width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  /*background-color: #e4dfd9;  */  
  margin-top: 1.5rem;  
  padding-right: 8rem;
}

.logo{

    height: 9rem;
    width: 9rem;
    margin-left: 2rem;
    padding: 1.5rem;
}

nav li{

    display: inline-block;
    margin-right: 5rem;
    font-weight: 600;
    font-size: 2rem;
    padding:1.5rem;  
    margin-top: 3.5re;
    
}

/*home page section*/

.home-page-section{
    margin-bottom: 2rem;
}

.home-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin-top: 1.5rem;
    padding: 2rem;
    align-items: center;
}

.header-text-box{
    padding: 4rem;
}

.home-page-img{
    max-width: 50rem;
    max-height:  40.5rem;   
    /*padding: 4rem; */
    border-radius: 1rem;
        
}  

.home-page-paragraph{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    font-weight: 500;
}  

/* how it works section*/

.how-it-works{
    margin-bottom: 4.8rem;
}

.header-how{
    margin-bottom: 2.9rem;
    text-transform: capitalize;
}

.steps-paragrah{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    font-weight: 500;
    padding-right: 1rem;
}

.icons-steps{
    height: 35px;
    width: 35px;
    margin-bottom: 1rem;  
}

/*pricing section*/

.pricing-section{
    margin-bottom: 2.4rem;
}

.pricing-img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    /*height: 25.9rem;*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.features-sips{
    list-style-type: none;
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.pricing-box {
    box-shadow: 0 30px 30px RGBA(0, 0, 0, 0.1);
}

.taste-feature{
    padding: 2.4rem;
}

strong{
    font-size: 1.8rem;
}
footer{
    font-size: 1.4rem;
    color: #000;
    padding: 4.8rem;
}

/*media query responsiveness*/

@media  (max-width:69.5em){
    h5 {
         font-size: 1.8rem;
     }
 }
 
 @media  (max-width:64.75em){
    h1{
     font-size: 4.4rem;
    }
     h4 {
          font-size: 1.6rem;
      }
     }
 
      @media (max-width:56.5em){
         html{
             font-size: 55%;
         }
      }
      @media (max-width: 44em){
         
         .step{
             grid-template-columns: 300px;
         }
          
         nav li{
            /* margin-right: 0;
             font-size: 1rem;
             margin-top: 0;
             padding: 0;*/
             padding-right: 7rem
         }
         .logo{
            /* width: 5rem;
             height: 5rem;
             padding: 0.6rem;*/
         }
         .pricing-img{
             width: 100%;
             
         }
         .home-page{
             grid-template-columns: 320px;
             gap: 6rem;
         }
         h1{
            font-size: 4.4rem;
         }
         .home-page-img{
            max-width: 30rem;
            margin-left: 2.8rem;
            
         }
         h2{
            font-size: 3.1rem;
            margin-left: 4.8rem;
            margin-bottom: 3rem;
         }
         h3{
            font-size: 2.6rem;
         }
         span{
            display: block;
            margin-top: 0.3rem;
         }
         .steps-paragrah{
            font-size:2.2rem;
            margin-bottom:1rem
         }
     }
     